body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/fondo8.jpg);
}
.container {
    text-align: center;
    background: #6141bb;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 5px;
    width: 90px;
    border-radius: 15px;
    margin: 15px;
    border: none;
}
button {
    text-decoration: none;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s;
  }
.result {
    margin-top: 2px;
    padding: 20px;
    font-weight: bold;
    color: #ebeaea;
}
a {
    text-decoration: none;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s;
    
  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;

  }